# deps 2 deps
hoist=true
hoist-pattern=['*']
# modules/packages 2 deps
shamefully-hoist=true
store-dir=~/.pnpm-store
modules-dir=node_modules
node-linker=isolated
lockfile=true
prefer-frozen-lockfile=true
auto-install-peers=false
strict-peer-dependencies=false
recursive-install=true
# for package publish
# registry=https://registry.npmjs.org/
# for faster dep installation
registry=https://registry.npmmirror.com

